<app-header></app-header>
<div class="container">
    <div style="height: 350px;" class="bg-success row align=items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center text-light">
            <h1>Contact Us</h1>
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eum fugit beatae magni
                officia obcaecati aliquid facilis temporibus quasi, nisi adipisci est quas iure aspernatur ullam optio.
                Sequi, exercitationem commodi.</p>
        </div>
        <div class="col-lg-2"></div>

    </div>
    <div style="height: 650px;" class="row align-items-center my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h3>Get In Touch</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora eius amet nostrum dolorem tempore
                cupiditate obcaecati, facilis quia deleniti ratione explicabo quidem sapiente asperiores cum? Blanditiis
                vero modi inventore vel!</p>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-location"></i>
                </div>
                <div>
                    <h5>Address</h5>
                    <p>NYC 5678, Berlin.</p>
                </div>
            </div>

            <div class="d-flex">
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div>
                    <h5>Phone Number</h5>
                    <p>9876543210</p>
                </div>
            </div>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div>
                    <h5>Email</h5>
                    <p>{{demoMail}}</p>
                </div>
            </div>
            <hr>
            <h5>Follow Us</h5>
            <div class="d-flex mt-4">
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div style="width: 40px; height: 40px;"
                    class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <form (ngSubmit)="submitTestimony()" [formGroup]="testimonyForm" class="border rounded shadow p-5">
                <h3>Client Testimony</h3>
                <div class="mb-3 mt-5">
                    <input name="name" formControlName="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input name="email" formControlName="email" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea name="message" formControlName="message" type="text" class="form-control"
                        placeholder="Message"></textarea>
                </div>
                <p class="my-4 text-secondary">By Submitting, your agreeing the terms and condition of our website. We
                    may use your details in our site.</p>
                <div class="float-end">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>


            </form>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <iframe class="my-5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.737563807574!2d75.56260345!3d11.6458241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1sen!2sin!4v1731405774250!5m2!1sen!2sin"
        width="1300" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>